@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&family=Dongle:wght@300;400;700&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@100;400;500;700&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@200;300&family=Quicksand:wght@300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Rock+3D&family=Shadows+Into+Light&display=swap");


body::before {
  content: '';
  background-color: #F1F3FF;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 42vmax;
  position: absolute;
  height: 270px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*************Costum Nav*****************/
.custom-nav .button-nav {
  display: inline-block;
  background-color: #0D28A6;
  padding: 10px 30px;
  text-decoration: none;
  position:   ;
}


.custom-nav .navbar-brand span {
  color: white;
  font-weight: 700;
  font-family: 'Helvetica';
  font-size: 2rem;
  margin-left: 0.2em;
  text-shadow: 2px 1px black;
}


.custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: black;
  font-weight: 500;
  margin-left: 2.5em;
  border-radius: 10px;
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.custom-nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: white;
  border-radius: 10px;
  background-color: #5CB85F;
}

.custom-nav #navbarNav .navbar-nav .nav-item .sign-up-button {
  display: inline-block;

  background-color: #5CB85F;
  padding: 0.5em 1.5em;
  text-decoration: none;
}

.custom-nav #navbarNav .navbar-nav .nav-item .sign-up-button:hover {
  color: black;
  border: 1px solid #5CB85F;
  background-color: transparent;
}
/*************Costum Nav End*****************/


/*************Main Section*****************/
.main-section {
  margin-top: 4rem;
}

.main-section h2 {
  font-weight: 700;
  word-spacing: 6px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
  padding-top: 2rem;
}

.main-section p {
  font-weight: 200;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
}

.main-section a {
  margin-top: 1em;
  display: inline-block;
  color: white;
  background-color: #5CB85F;
  border-radius: 10px;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main-section a:hover {
  color: rgba(0, 0, 0, 1);
  border: 1px solid #5CB85F;
  background-color: transparent;
}
/*************Main Section End*****************/



/*************Pembayaran*****************/

.pembayaran {
  position: relative;
  z-index: 999;
  margin-bottom: -60px;
  padding: 20px;
}




/*************End Pembayaran*****************/









/*************Search Menu*****************/



  .search-menu {
    border: 2px solid #C1C1C1;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
    z-index: 9999;
    background: #ffffff;
  }
  
  .search-menu .gap-search {
    padding-left: 40px;
  }


  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

/*************End Search Menu*****************/




/*************Footer*****************/

.new_footer_top {
  padding: 120px 0px 0px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area {
  padding-top: 5px;
  padding-bottom: 50px;
}

.new_footer_top .company_widget p {
  margin-bottom: 20px;
}


.new_footer_top .company_widget .f_subscribe_two .btn_get {
  margin-top: 20px;
}

.btn_get_two:hover {
  display: inline-block;
  background-color: #0D28A6;
  text-decoration: none;
}


.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  color: white;
  font-size: 24px;
  margin-left: -10px;
}

.f_social_icon a {
  width: 50px;
  height: 45px;
  background: rgba(13, 40, 166, 1);
  border-radius: 50%;
  font-size: 15px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-left: -50px;
}

.new_footer_top .f_social_icon a:hover {
  color:white;
  background: #ebeef5;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100px;
  height: 34px;
  left: 873px;
  top: 36px;
  background: #0D28A6;
  border-color: #0D28A6;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #0D28A6;
}

.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  padding-left: 40px;
}


@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

/*************footer End*****************/


@media screen and (min-width: 992px) {
  .custom-nav {
    margin-top: 14px;
  }



  .why-us-section .custom-why-us p {
    margin-right: 5px;
  }

  .main-menu {
    margin-top: 1.5em;
  }
  
  .new_footer_area .new_footer_top .social-widget .f_social_icon {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .custom-nav .button-nav {
    display: inline-block;
    background-color: #0D28A6;
    padding: 10px 30px;
    text-decoration: none;
  }

  .main-menu {
    margin-top: -2.5em;
  }
  
  .all-button .btn-group {
    padding-left: 5rem;
  }

  .our-service-section img{
    max-width: 100%;
  }

  .our-service-section .service-section {
    text-align: center;
  }
  
   .btn-submit-form {
    margin-bottom: 100px;
  }
  
}

@media screen and (max-width: 576px) {

  .main-section h2 {
    font-size: 1.5rem;
    margin-top: -40px;
    text-shadow: 1px 1px white;
  }

  .main-section p {
    color: white;
    text-shadow: 1px 1px #595959;
  }

  .main-section a {
    font-family: 'roboto';
    font-size: 14px;
    font-weight: bold;
  }

  .our-service-section img{
    widht: 50%;
    height: 60%;
    padding-bottom: 20px;
  }

  .testimonial-names {
    display: block;
  }

  .new_footer_top {
    text-align: center;
    padding-top: 100px;
    color: #404040;
  }

  .new_footer_area .new_footer_top .company_widget{
    font-weight: bold;
    margin-left: 40px;
    padding: 40px;
  }

  .new_footer_area .new_footer_top .social-widget  {
    font-weight: bold;
    margin-left: 40px;
    padding: 50px;
  }

  .new_footer_area .new_footer_top .social-widget .f_social_icon {
    justify-content: center;
  }

  .new_footer_area .new_footer_top .f_subscribe_two {
    font-weight: bold;
    padding: 5px;
  }
}

@media screen and (max-width: 425px) {
  .new_footer_area {
    margin-right: 40px;
  }
  .our-service-section h3{
    font-size: 25px;
    margin-top: -100px;
  }

  .our-service-section img{
   display: none;
  }

  .cell-right {
    display: none;
  } 

  .cell-left {
    margin-left: 28px;
    display: block;
  }

   .testimonial-names {
    margin-left: 28px;
    display: block;
  }
}
