/*************Footer*****************/

.new_footer_top {
    padding: 120px 0px 0px;
    position: relative;
    overflow-x: hidden;
  }
  .new_footer_area {
    padding-top: 5px;
    padding-bottom: 50px;
  }
  
  .new_footer_top .company_widget p {
    margin-bottom: 20px;
  }
  
  
  .new_footer_top .company_widget .f_subscribe_two .btn_get {
    margin-top: 20px;
  }
  
  .btn_get_two:hover {
    display: inline-block;
    background-color: #0D28A6;
    text-decoration: none;
  }
  
  
  .new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
  }
  .new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
  }
  .f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
  }
  .f_widget.about-widget .f_list li {
    margin-bottom: 15px;
  }
  .f_widget.about-widget .f_list {
    margin-bottom: 0px;
  }
  
  .new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    color: white;
    font-size: 24px;
    margin-left: -10px;
  }
  
  
  .f_social_icon a {
    width: 50px;
    height: 45px;
    background: rgba(13, 40, 166, 1);
    border-radius: 50%;
    font-size: 15px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-left: -50px;
  }
  
  .new_footer_top .f_social_icon a:hover {
    color:white;
    background: #ebeef5;
  }
  .ti-facebook:before {
    content: "\e741";
  }
  .ti-twitter-alt:before {
    content: "\e74b";
  }
  .ti-vimeo-alt:before {
    content: "\e74a";
  }
  .ti-pinterest:before {
    content: "\e731";
  }
  
  .btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100px;
    height: 34px;
    left: 873px;
    top: 36px;
    background: #0D28A6;
    border-color: #0D28A6;
    color: #fff;
  }
  
  .btn_get_two:hover {
    background: transparent;
    color: #0D28A6;
  }
  
  .new_footer_top .f_social_icon a + a {
    margin-left: 4px;
  }
  .new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
  }
  .f_600 {
    font-weight: 600;
  }
  .f_size_18 {
    font-size: 18px;
  }
  
  .new_footer_top .f_widget.about-widget .f_list li a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    padding-left: 40px;
  }
   